:root{

    --primary-color: rgb(204, 9, 9);
    --secondary-color: grey;

    --complementary-primary-color: rgba(126, 126, 13, 0.8);
    --complementary-primary-color-hover: rgba(160, 160, 17, 0.8);

    --shadow-primary: rgb(175, 10, 10);
    --shadow-secondary: rgb(95, 95, 9);

    --font-limit-size: 18px;
    --title-limit-size: 32px;

    --font-primary-color: black;
    --font-secondary-color: white;

    --default-font-family: 'Josefin Sans', sans-serif;
}



*{
    padding: 0px;
    margin: 0px;

    font-family: var(--default-font-family);
}

header{
    width: 100%;
    height: 70px;

    color: var(--font-primary-color);

    background-color: var(--primary-color);

    box-shadow: 0px 5px 3px 2px var(--shadow-primary);

    font-size: var(--font-limit-size);
}

.flex{
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.or{
    flex-direction: row;
}

.ver{
    flex-direction: column;
}

.primary{
    font-size: var(--title-limit-size);
}

.section{
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 100%;

    margin-right: 10px;
    min-width: 600px;
}

header .section:first-child{
    justify-content: flex-start;
    margin-left: 15px;

    max-width: 150px;
    min-width: 120px;
}

header .section:nth-child(2){
    max-width: 400px;
    min-width: 200px;
}


header .section:last-child{
    justify-content: flex-end;
    margin: 0px;
    margin-right: 5px;
    max-width: 400px;
    min-width: 150px;
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-collapse: collapse;
    padding: 5px 10px;

    width: 100%;

    box-shadow: inset -2px -1px 4px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(60, 60, 60, 0.2);

    border-radius: 15px;
}

.search-bar .search-icon{
    max-width: 30px;
    max-height: 30px;

    padding-right: 7px;

    cursor: pointer;

    position: relative; 
}

.search-bar div{
    position: relative;
}

.search-bar div .tooltip{
    position: absolute;

    top: 50px;
    left: -18px;
    color: black;
    background-color: white;
    font-weight: 400;
    padding: 8px 10px;

    border-radius: 10px;

    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}

.search-bar div:hover .tooltip{
    position: absolute;

    top: 50px;
    left: -18px;
    color: black;
    background-color: white;

    padding: 8px 10px;

    border-radius: 10px;
    opacity: 0.7;
}

.search-bar .search-input{
    border: none;
    border-left: 1px solid rgba(150, 150, 150, 0.2);

    padding: 10px 7px;
    padding-right: 0px;

    background-color: var(--primary-color);

    font-size: var(--font-limit-size);

    flex: 1;

    outline: none;

    width: 100%;
}

.search-bar .search-input::placeholder{
    color: black;
    transition: color 1.2s;
}

.search-bar .search-input:hover::placeholder{
    color: black;
}

.search-bar .search-input:focus::placeholder{
    color: black;
}

@media screen and (max-width: 1600px) {
    :root{
        --font-limit-size: 16px;
        --title-limit-size: 26px;
    }

    header .section:nth-child(2){
        max-width: 200px;
        min-width: 150px;
    }

    header .section{
        max-width: 800px;
    }
}

@media screen and (max-width: 1230px) {
    :root{
        --font-limit-size: 14px;
    }

    header .section:nth-child(2){
        display: none;
    }

    header .section:first-child{
        max-width: 100px;
    }
}

@media screen and (max-width: 930px) {
    header .section{
        justify-content: center;
        min-width: 200px;
    }

    header .section:nth-child(2){
        display: flex;

        max-width: 350px;
    }
}

@media screen and (max-width: 670px){
    header .section:first-child{
        display: none;
    }

    header .section:nth-child(2){
        display: flex;

        padding-left: 15px;

        max-width: 350px;
    }
}

@media screen and (max-width: 535px){
    header .section:last-child{
        display: none;
    }

    header .section{
        justify-content: right;
    }

    header .section:nth-child(2){
        max-width: 200px;
    }
}
/*END HEADER*/

/*MAIN-TITLE*/
.main-title{
    margin-top: 6px;
    padding: 310px;
    background-color: rgba(169, 168, 168, 0.581);
    background-image: url(../Images/article-stalin.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow:inset -1px -11px 5px 3px rgb(0 0 0 / 47%);
}
.main-title h1{
    text-align: center  ;
    text-shadow: 2px 2px red; 
}
/*END MAIN-TITLE*/

/* VIDEOSPEACH */
.videoSpeach{
    padding: 100px 0px;
    box-shadow:inset 0px 12px 3px 0px rgb(0 0 0 / 47%);
    text-align: center;
    text-shadow: 2px 2px red; 
}

.videoSpeach iframe{
    margin-top: 110px;
    width: 1000px;
    height: 500px;
    box-shadow:6px 11px 8px 0px rgb(0 0 0 / 47%);
}
/*END VIDEOSPEACH*/